.container {
    @include media( $bp-xs... ) {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    @include media( $bp-sm-up... ) {
        margin-left: auto;
        margin-right: auto;
        width: 540px;
    }
}